q6

In [1]:
for i in range(13):
    result = i * 7
    print(f"{i} x 7 = {result}")

0 x 7 = 0
1 x 7 = 7
2 x 7 = 14
3 x 7 = 21
4 x 7 = 28
5 x 7 = 35
6 x 7 = 42
7 x 7 = 49
8 x 7 = 56
9 x 7 = 63
10 x 7 = 70
11 x 7 = 77
12 x 7 = 84

q7

In [2]:
table_number = int(input("Enter the number for the times table (0 to 12): "))
if 0 <= table_number <= 12:
    for i in range(13):
        result = i * table_number
        print(f"{i} x {table_number} = {result}")
else:
    print("Invalid input. Please enter a number between 0 and 12.")

Enter the number for the times table (0 to 12): 6
0 x 6 = 0
1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60
11 x 6 = 66
12 x 6 = 72

q8

In [4]:
table_number = int(input("Enter the number for the times table (-12 to 12): "))

if -12 <= table_number <= 12:
    step = -1 if table_number < 0 else 1

    for i in range(12, -1, step):
        result = i * table_number
        print(f"{i} x {abs(table_number)} = {result}")
else:
    print("Invalid input. Please enter a number between -12 and 12.")

Enter the number for the times table (-12 to 12): -11
12 x 11 = -132
11 x 11 = -121
10 x 11 = -110
9 x 11 = -99
8 x 11 = -88
7 x 11 = -77
6 x 11 = -66
5 x 11 = -55
4 x 11 = -44
3 x 11 = -33
2 x 11 = -22
1 x 11 = -11
0 x 11 = 0